.btn{
  padding:10px 20px;
  color:white;
  cursor:pointer;
  display: block;
  text-align: center;
  margin-top:10px;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover{
opacity:0.6;
}

.btn span{
  position: relative;
  padding-left:30px;

}

.btn span:before{
  content:"";
  display: block;
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  width:20px;
  height:20px;
}

.btn--cart{
  background-color:rgb(119,136,153);
}

.btn--fav{
  background-color:rgb(119,136,153);
}

.btn--cart.is-storage{
  background: #ccc;
}

.btn--fav.is-storage{
  background: #ccc;
    height:50px;
}

.btn--fav.is-storage span{
  font-size: 0px;
}

.btn--fav.is-storage span:before{
  font-size: 20px;
  content: "お気に入りから解除します";
  width:300px;
  position: relative;
  left:0;
  top:0;
  display:initial;
  background-image: initial;
}

.btn--cart.is-storage span{
  font-size: 0px;
}

.btn--cart.is-storage span:before{
  font-size: 20px;
  content: "カートから解除します";
  width:300px;
  position: relative;
  left:0;
  top:0;
  display:initial;
  background-image: initial;
}

.btn--cart span:before{
  background-image: url("../image/icon_cart_white.svg");
  background-repeat: no-repeat;

}

.btn--fav span:before{
  background-image: url("../image/icon_heart.svg");
  background-repeat: no-repeat;
}


.btn--buy{
  background:red;
  color:#fff;
}

/*ボタン　スマホ*/
@media screen and (max-width:768px){

  .btn--fav.is-storage span:before{
    font-size: 17px;
  }

}
